.nav{
  display: flex;
  grid-area: n;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background: burlywood;
  padding: 10px 20px;
  background: #101321;
  }
  .item a{
    color:white;
    text-decoration: none;
  }
  .item a.active{
    color:#94ae3f;
  }